*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    background-image: url("../assets/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Amatic SC', cursive;
}
@media (min-width:400px){
    body{
        background-repeat:repeat-y;
        background-size:cover;
    }
}
header{
    display: flex;
    align-items: center;
    margin: 2rem;
    z-index: 2;
    position: relative;
}
.titulo{
    font-size: clamp(2.8rem,12vw,6.25rem);
    color: #e6ca92c5;
    text-align: center;
    pointer-events: none;
    margin: auto;
}
.intermedio{
    color: #a27c2ec5;
} 
.barras{
    position: absolute;
    left: clamp(0rem,3vw,20rem);
    color: #e6ca92c5;
    font-size: clamp(0.3rem,5vw,4rem);
    cursor: pointer;
}
.barras:hover{
    transform: scale(1.2);
    transition: 0.1s;
}
.sombra{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
.menu{
    width: 100%;
    background-color: #4e3f23;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 4;
}
@media (min-width:740px){
    .menu{
        width: 30%;
        height: 100vh;
    }
    #x{
        position: relative;
    }
}
.bloqueMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.close{
    display: flex;
    align-items: center;
    position: relative;
}
#menu{
    text-align: center;
    font-size: clamp(1rem,12vw,4rem);
    margin:2rem auto 0;
    pointer-events: none;
    color: black;
}
#x{
    position: absolute;
    font-size: clamp(1rem,5vw,3rem);
    cursor: pointer;
    z-index: 6;
    display: flex;
    margin:2rem 0 0 2rem;
    color: black;
}
#x:hover{
    color: #e6ca92c5;
    transition: 0.1s;
}
.seccion{
    width: 100%;
    height: clamp(3rem,4vw,10rem);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.1vw solid #e6ca92c5;
    color: rgba(255, 255, 255, 0.776);
}
.seccion:hover{
    background-color: #e6ca92c5;
    color: black;
    font-weight: bold;
}
.go_to{
    width: 100%;
    height: 100%;
    font-size: clamp(1.5rem,2vw,2rem);
    text-decoration: none;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.go_to:hover{
    background-color: #e6ca92c5;
    color: black;
    font-weight: bold;
}
#primera{
    border-top: 0.1vw solid #e6ca92c5;
    margin-top:1rem;
}
#contacto{
    flex-direction: column;
    border-bottom: 0;
    height: clamp(5rem,6vw,13rem);
}
#contacto h4{
    font-size: clamp(1.5rem,2vw,2rem);
    pointer-events: none;
    margin: 0;
    color: white;
}
.redes{
    font-size: clamp(1.5rem,2vw,2rem);
    margin: 0.2rem;  
    color: black;
}
.redes i:hover{
    transform: scale(1.2);
    transition: 0.1s;
    color: #4e3f23;
}
.row{
    max-width: 100%;
    justify-content: space-between;
}
#col{
    padding: 0;
}
.subtitulo{
    font-size: clamp(1.5rem,7vw,3rem);
    color: #e6ca92c5;
    text-align: center;
    pointer-events: none;
    margin-bottom: 3rem;
}
.imagen{
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}
.imagen img{
    width: 10rem;
}
.calculadora{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}
.calculadora form{
    width: 90%;
}
.select_box{
    width: 100%;
    margin: auto;
    position: relative;
}
.select{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: clamp(12vh,10vw,15vh);
    margin: 0 auto 2rem;
    border: 0.1vw solid #a27c2ec5;
    border-radius: 5vw;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.16);
    cursor: pointer;
    transition: 1.2s ease all;
}
.select i{
    color: #e6ca92c5;
}
.select.active, .select:hover{
    box-shadow: 0px 5px 10px rgba(0,0,0,0.16);
    border: 0.2rem solid #a27c2ec5;
    transition: 0.1s;
}
.select.active:before{
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-top:10px solid #584011;
    border-right:10px solid transparent;
    border-bottom:10px solid transparent;
    border-left:10px solid transparent;
    position: absolute;
    bottom: 9.3rem;
    left: calc(50% - 10px);
}
@media (min-width:740px){
    .calculadora form{
        width: 70%;
    }
    .select.active:before{
        bottom: 9.8rem;
    }
}
.contenido_select{
    display: flex;
    align-items: center;
    padding: 0.2rem;
    margin:auto;
    color: #e6ca92c5;
    font-size: clamp(3.5rem,8vw,4rem);
}
#texto{
    font-size: clamp(1rem,7vw,2rem);
    margin: 0;
}
.select i{
    width: 10%;
    font-size: clamp(1rem,6vw,2rem);
    padding-right: 2vw;
}
.contador{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #e6ca92c5;
}
.contador div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menos,.mas{
    border-radius: 50%;
    cursor: pointer;
    width: clamp(1.2rem,3vw,2rem);
    height: clamp(1.2rem,3vw,2rem);
}
.menos:hover,.mas:hover{
    background-color: #584011;
    border: 0.1vw solid black;
}
.contador .numero{
    width: clamp(4rem,10%,6rem);
    font-size: clamp(3rem,10vw,3rem);
    height: 4rem;
}
.opciones{
    border: 0.1vw solid #a27c2ec5;
    border-radius: 5vw;
    margin-bottom: 2rem;
    display: none;
}
.opciones.active{
    display: block;
    transition: 0.3s;
}
.palos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0.4rem;
}
.palos img{
    width: clamp(3rem,15vw,4rem);
}
.contenido_select img{
    width: clamp(3rem,15vw,4rem);
}
.contenido_opcion{
    display: flex;
    align-items: center;
    margin: 0.2rem 0;
}
.contenido_opcion img:hover{
    transform:scale(1.1);
}
.boton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    margin-top: 1rem;
    background-color: #584011;
    color:white;
    border-radius: 10vw;
    border: 0.06rem solid black;
    font-size: clamp(1.5rem,4.5vw,2rem);
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
}
.boton:hover{
    background-color: #a27c2ec5;
}
.envido_box{
    color: #e6ca92c5;
    margin: 1rem 0;
    pointer-events: none;
    font-size: clamp(1rem,2vw,2rem);
}
.up{
    display: flex;
    justify-content: center;
}
.up i{
    width: clamp(2rem,8vw,4rem);
    height: clamp(2rem,8vw,4rem);
    border-radius: 50%;
    background-color: #e6ca92c5;
    border: 0.1vw solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vw 0;
    cursor: pointer;
}
.up i:hover{
    background-color: #a27c2ec5;
    transform: scale(1.2);
    transition: 0.1s;
}
footer{
    background-color: #e6ca92c5;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes_footer{
    color: black;
}
.redes_footer:hover{
    transform: scale(1.2);
    transition: 0.1s;
    color: #4e3f23;
}
.redes_footer i{
    margin: 0 2vw;
    font-size: clamp(1.5rem,7vw,2.5rem);
}
.logo{
    margin: 0 0.5rem;
    width: clamp(8rem,40%,10rem);
    text-align: center;
}
.logo h4{
    font-size: clamp(0.8rem,4vw,1.3rem);
    margin:0.5rem 0 0;
    pointer-events: none;
    font-weight: bold;
}
#pagina{
    color: black;
    cursor: pointer;
    text-decoration: none;
}
#pagina h3{
    font-size: clamp(1.2rem,6vw,2.5rem);
    font-weight: bold;
}
#pagina:hover h3{
    transform: scale(1.1);
    transition: 0.1s;
}
.s{
    color: rgb(72, 72, 190);
}