*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("/truco/assets/fondo.png");
    font-family: 'Amatic SC', cursive;
}
.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vw;
    margin-bottom: 20vw;
}
.titulo{
    font-size: 12vw;
    color: #e6ca92c5;
    text-align: center;
}
.boton{
    width: 40%;
    margin-top: 8vw;
    background-color: #746546c5;
    border-radius: 10vw;
    font-size: 4.5vw;
    text-align: center;
    padding: 2vw;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vw;
}
.subtitulo{
    font-size: 7vw;
    color: #e6ca92c5;
    text-align: center;
}
.intermedio{
    color: #a27c2ec5;
} 
.tarjeta{
    width: 60%;
    font-size: 4.5vw;
    text-align: center;
    background-color: #746546c5;
    border-radius: 50px 0;
    margin: 10vw 0 10vw 10vw;
    padding: 1.5vw;
    color: #fff;
}
#inverso{
    transform: translateX(70px);
    border-radius: 0 50px;
}
.up{
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    background-color: #e6ca92c5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
    cursor: pointer;
}
.up:hover{
    background-color: #a27c2ec5;
    transform: scale(1.2);
    transition: 0.1s;
}
footer{
    height: 16vw;
    background-color: #e6ca92c5;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes{
    color: black;
    cursor: pointer;
}
.redes:hover{
    transform: scale(1.2);
    transition: 0.1s;
    color: #4e3f23;
}
.redes i{
    margin: 0 1vw;
    font-size: 4vw;
}
.logo{
    margin: 0 5vw;
    width: 25%;
    text-align: center;
}
.logo h4{
    padding-top: 2vw;
    font-size: 3vw;
}
#pagina{
    color: black;
    cursor: pointer;
}
#pagina:hover{
    font-size: 5.5vw;
    transition: 0.1s;
}
.s{
    color: rgb(72, 72, 190);
}
