body{
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#boton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin-top: 5vw;
    background-color: black;
    border-radius: 10vw;
    font-size: 3.5vw;
    text-align: center;
    padding: 2vw;
}
a{
    text-decoration: none;
    color: white;
}