*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("/truco/assets/fondo.png");
    font-family: 'Amatic SC', cursive;
}
header{
    display: flex;
    align-items: center;
    margin: 5vw;
    z-index: 2;
    position: relative;
}
.titulo{
    font-size: 12vw;
    color: #e6ca92c5;
    text-align: center;
    margin: auto;
}
.intermedio{
    color: #a27c2ec5;
} 
.barras{
    position: absolute;
    color: #e6ca92c5;
    font-size: 7vw;
    cursor: pointer;
}
.barras:hover{
    transform: scale(1.2);
    transition: 0.1s;
}
.menu{
    width: 40%;
    height: 100vh;
    background-color: #4e3f23;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 3;
}
.bloqueMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.close{
    display: flex;
    align-items: center;
    position: relative;
}
#menu{
    width: 30%;
    font-size: 9vw;
    margin:5vw auto 0;
}
#x{
    position: absolute;
    font-size: 7vw;
    cursor: pointer;
    z-index: 6;
    display: flex;
    margin:5vw 0 0 5vw;
}
.seccion{
    width: 100%;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.1vw solid #e6ca92c5;
    color: rgba(255, 255, 255, 0.776);
}
.go_to{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.go_to:hover{
    background-color: #e6ca92c5;
}
#primera{
    border-top: 0.1vw solid #e6ca92c5;
    margin-top:5vw;
}
#contacto{
    flex-direction: column;
    height: 15vw;
}
.redes{
    margin-top: 1vw;
    
}
.subtitulo{
    font-size: 7vw;
    color: #e6ca92c5;
    text-align: center;
    margin: 10vw 0;
}
.imagen{
    display: flex;
    justify-content: center;
}
.imagen img{
    width: 50%;
}
.boton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin-top: 5vw;
    background-color: #584011;
    color:white;
    border-radius: 10vw;
    font-size: 3.5vw;
    text-align: center;
    padding: 2vw;
    cursor: pointer;
}
.boton:hover{
    background-color: #a27c2ec5;
}
.calculadora{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calculadora form{
    width: 90%;
}
.select_box{
    width: 100%;
    margin: auto;
    position: relative;
}
.select{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5vw;
    border: 0.1vw solid #a27c2ec5;
    border-radius: 5vw;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.16);
    cursor: pointer;
    transition: 1.2s ease all;
}
.select i{
    color: #e6ca92c5;
}
.select.active, .select:hover{
    box-shadow: 0px 5px 10px rgba(0,0,0,0.16);
    border: 0.7vw solid #a27c2ec5;
    transition: 0.1s;
}
.select.active:before{
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-top:10px solid #584011;
    border-right:10px solid transparent;
    border-bottom:10px solid transparent;
    border-left:10px solid transparent;
    position: absolute;
    bottom: 112px;
    left: calc(50% - 10px);
}
.contenido_select{
    display: flex;
    align-items: center;
    font-size: 15vw;
    padding: 1vw;
    margin:auto;
    color: #e6ca92c5;
}
#texto{
    font-size: 7vw;
}
.select i{
    width: 10%;
    font-size: 6vw;
    padding: 2vw;
}
.contador{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e6ca92c5;
}
.contador div{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contador .numero{
    font-size: 10vw;
}
.opciones{
    border: 0.1vw solid #a27c2ec5;
    border-radius: 5vw;
    margin-bottom: 10vw;
    display: none;
}
.opciones.active{
    display: block;
    transition: 0.3s;
    animation: 0.1s descubrir linear forwards;
}
@keyframes descubrir{

}
.palos{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.palos img{
    width: 15vw;
}
.contenido_select img{
    width: 20vw;
}
.contenido_opcion{
    display: flex;
    align-items: center;
    margin: 2vw 0;
}
.contenido_opcion img:hover{
    transform:scale(1.1);
}
#calcular{
    width: 40%;
    font-size: 6vw;
}
.envido_box{
    color: #e6ca92c5;
    margin: 4vw 0;
}
.up{
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    background-color: #e6ca92c5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 4vw;
}
.up:hover{
    background-color: #a27c2ec5;
    transform: scale(1.2);
    transition: 0.1s;
}
footer{
    height: 16vw;
    background-color: #e6ca92c5;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vw;
}
.redes{
    color: black;
    cursor: pointer;
}
.redes:hover{
    transform: scale(1.2);
    transition: 0.1s;
    color: #4e3f23;
}
.redes_footer i{
    margin: 0 2vw;
    font-size: 7vw;
    color: black;
}
.logo{
    margin: 0 5vw;
    width: 30%;
    text-align: center;
}
.logo h4{
    font-size: 4vw;
}
#pagina{
    font-size: 6vw;
    color: black;
    cursor: pointer;
    text-decoration: none;
}
#pagina:hover{
    font-size: 5.5vw;
    transition: 0.1s;
}
.s{
    color: rgb(72, 72, 190);
}